@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  margin: 0 0 0 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
.wrapper {
  width: 900px;
  margin: 0 auto;
  padding-top: 72px;
}
.menu {
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
  margin-bottom: 100px;
}
.menu li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 125px;
}
.menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: grey;
}
.menu a:hover {
  color: skyblue;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.list li {
  display: inline-block;
  width: 420px;
  margin-bottom: 130px;
}
.list li:last-child {
  margin-bottom: 0;
}
.life {
  margin-right: 60px;
}
.photodiary {
  margin-right: 60px;
}
.style {
  margin-right: 60px;
}
.text {
  margin-bottom: -70px;
}
p {
  font-family: "Playfair Display", serif;
  color: gray;
  font-size: 14px;
}
img {
  margin-bottom: 30px;
}
h2 {
  font-family: "Playfair Display", serif;
  color: rgb(94, 94, 94);
  margin-bottom: 30px;
}
.button {
  font-family: "Playfair Display", serif;
  background-color: white;
  color: rgb(56, 56, 56);
  border: ridge;
  text-align: center;
  display: inline-block;
  width: 160px;
  height: 60px;
  font-size: 20px;
  margin-bottom: 70px;
  margin-left: 360px;
}
